.operating-framewrok-logo {
    padding: 5px 6px;
    height: 68px;
}

.operating-framewrok-logo img {
    width: 180px;
    height: 60px;
}

.operating-framewrok-menu {
    background: #41475d;
}


/*解决部分微服务打包后css样式顺序不一致导致ant样式无法被覆盖*/

.operating-layout-left .jc-menu-dark,
.jc-menu-dark .jc-menu-sub {
    background: #41475d;
}

.operating-layout-left li .jc-menu-item {
    background: #333946;
}


/*选中样式*/

.jc-menu-dark .jc-menu-inline .jc-menu-item-selected {
    background-color: #009afe;
}

.jc-menu-dark .jc-menu-inline .jc-menu-item-selected a {
    font-size: 12px;
}

.jc-menu-submenu-inline .jc-menu-submenu {
    background-color: #40485d;
}


/*鼠标滑过*/

.operating-layout-left .jc-menu-item:hover {
    background: #009afe !important;
    color: white;
}

.operaing-no-child {
    background-color: rgb(65, 71, 93);
}


/*icon样式*/

.operating-layout-left .jcicon {
    font-size: 16px;
}