// 引入基础颜色 采用ant design生成颜色的函数
@import '../color/colors';

//To do表示后期需要改动

// 存放可更换的主题变量
@jc-prefix : jc;

//================ icon font ==============
// icon font family
@iconfont-family : jcicon;
// icon font 前缀
@iconfont-css-prefix : jcicon;
// iconfont 字体文件地址（无后缀）
@icon-url      : 'http://at.alicdn.com/t/font_584222_xcdvdg89wuo0qkt9';
@icon-margin : 0 4px;


//================= Colors =================
@primary-color 		: @blue-6;
@info-color 		: @blue-6;
@success-color 		: @green-6;
@processing-color   : @primary-color;
@error-color 		: @red-6;
@highlight-color 	: @red-6;
@warning-color 		: @gold-6;
@normal-color 		: #d9d9d9;


//=================To do Primary Colors =================
@primary-1 	: color(~`colorPalette('@{primary-color}', 1)`);  // replace tint(@primary-color, 90%)
@primary-2 	: color(~`colorPalette('@{primary-color}', 2)`);  // replace tint(@primary-color, 80%)
@primary-3 	: color(~`colorPalette('@{primary-color}', 3)`);  // unused
@primary-4 	: color(~`colorPalette('@{primary-color}', 4)`);  // unused
@primary-5 	: color(~`colorPalette('@{primary-color}', 5)`);  // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
@primary-6 	: @primary-color;                                 // color used to control the text color of active buttons, don't use, use @primary-color
@primary-7 	: color(~`colorPalette('@{primary-color}', 7)`);  // replace shade(@primary-color, 5%)
@primary-8 	: color(~`colorPalette('@{primary-color}', 8)`);  // unused
@primary-9 	: color(~`colorPalette('@{primary-color}', 9)`);  // unused
@primary-10 : color(~`colorPalette('@{primary-color}', 10)`);  // unused


//================= Body =================
@body-background 			: #fff;
@component-background 		: #fff;
@font-family-no-number  	: '\5FAE\8F6F\96C5\9ED1','\5b8b\4f53','tahoma','arial'; //To do 采用华南城字体，后期需要改动
@font-family            	: @font-family-no-number; //To do
@code-family            	: Consolas, Menlo, Courier, monospace; //To do  Consolas、Menlo、monospace:属无衬线等宽字体的字形,Menlo Courier:是一种常见的计算机字体，后期需要改动
@heading-color          	: fade(#000, 85%);
@text-color 				: fade(#000, 65%);
@text-color-secondary 		: fade(#000, 45%);
@heading-color-dark     	: fade(#fff, 100%);
@text-color-dark        	: fade(#fff,85%);
@text-color-secondary-dark 	: fade(#fff, 65%);
@font-size-base 			: 14px;
@font-size-lg 				: @font-size-base + 2px;
@font-size-sm 				: @font-size-base - 2px;
@line-height-base 			: 1.5;
@border-radius-base 		: 4px;
@border-radius-sm 			: 2px;

//================= Vertical paddings =================
@padding-lg    : 24px; // containers
@padding-md    : 16px; // small containers and buttons
@padding-sm    : 12px; // Form controls and items
@padding-xs    : 8px;  // small items

// vertical padding for all form controls
@control-padding-horizontal: @padding-sm;
@control-padding-horizontal-sm: @padding-xs;

// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg         : @primary-1;
@item-hover-bg          : @primary-1;


//================= Link =================
@link-color             : @primary-color;
@link-hover-color       : @primary-5;
@link-active-color      : @primary-7;
@link-decoration        : none;
@link-hover-decoration  : none;


//================= Animation动画 =================
@ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46);
@ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6);
@ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46);
@ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1);


//================= Border color =================
@border-color-base 		: hsv(0,0,85%);//采用hsv色彩空间分别代表色相、饱和度、色调
@border-color-split 	: hsv(0,0,91%);
@border-width-base 		: 1px;
@border-style-base 		: solid;


//================= Outline =================
@outline-blur-size 	: 0;
@outline-width 		: 2px;
@outline-color 		: @primary-color;


//================= Background color =================
@background-color-light : hsv(0, 0, 98%);  // background of header and selected item
@background-color-base  : hsv(0, 0, 96%);  // Default grey background color


//================= Disabled states color =========
@disabled-color         : fade(#000, 25%);
@disabled-bg            : @background-color-base;
@disabled-color-dark    : fade(#fff, 35%);


//================= Shadow =================
@shadow-color 		: rgba(0, 0, 0, .15);
@box-shadow-base 	: @shadow-1-down;
@shadow-1-up 		: 0 2px 8px @shadow-color;
@shadow-1-down 		:0 2px 8px @shadow-color;
@shadow-1-left 		:-2px 0 8px @shadow-color;
@shadow-1-right 	: 2px 0 8px @shadow-color;
@shadow-2 			: 0 4px 12px @shadow-color;


//================= Buttons =================
@btn-font-weight 		: 400;
@btn-border-radius-base : @border-radius-base;
@btn-border-radius-sm 	: @border-radius-base;

@btn-primary-color 		: #fff;
@btn-primary-bg 		: @primary-color;

@btn-default-color 		: @text-color;
@btn-default-bg 		: #fff;
@btn-default-border 	: @border-color-base;

@btn-danger-color 		: @error-color;
@btn-danger-bg 			: #fff;
@btn-danger-border 		: @border-color-base;

@btn-disable-color      : @disabled-color;
@btn-disable-bg         : @disabled-bg;
@btn-disable-border     : @border-color-base;

@btn-padding-base       : 0 @padding-md - 1px;
@btn-font-size-lg       : @font-size-lg;
@btn-font-size-sm       : @font-size-base;
@btn-padding-lg         : @btn-padding-base;
@btn-padding-sm         : 0 @padding-xs - 1px;

@btn-height-base        : 32px;
@btn-height-lg          : 40px;
@btn-height-sm          : 24px;

@btn-circle-size        : @btn-height-base;
@btn-circle-size-lg     : @btn-height-lg;
@btn-circle-size-sm     : @btn-height-sm;

@btn-group-border       : @primary-5;


//================= Checkbox =================
@checkbox-size          : 16px;
@checkbox-color         : @primary-color;
@checkbox-font-color    : @text-color;
@checkbox-font-size     : @font-size-base;
@checkbox-font-padding  : 0px 8px;


//================= Radio =================
@radio-size             : 16px;
@radio-dot-color        : @primary-color;


//================= Radio buttons =================
@radio-button-bg           : @btn-default-bg;
@radio-button-color        : @btn-default-color;
@radio-button-hover-color  : @primary-5;
@radio-button-active-color : @primary-7;


//=================  Media queries breakpoints =================
// Extra small screen / phone
@screen-xs              : 480px;
@screen-xs-min          : @screen-xs;

// Small screen / tablet
@screen-sm              : 576px;
@screen-sm-min          : @screen-sm;

// Medium screen / desktop
@screen-md              : 768px;
@screen-md-min          : @screen-md;

// Large screen / wide desktop
@screen-lg              : 992px;
@screen-lg-min          : @screen-lg;

// Extra large screen / full hd
@screen-xl              : 1200px;
@screen-xl-min          : @screen-xl;

// Extra extra large screen / large descktop
@screen-xxl              : 1600px;
@screen-xxl-min          : @screen-xxl;

// provide a maximum
@screen-xs-max          : (@screen-sm-min - 1px);
@screen-sm-max          : (@screen-md-min - 1px);
@screen-md-max          : (@screen-lg-min - 1px);
@screen-lg-max          : (@screen-xl-min - 1px);
@screen-xl-max          : (@screen-xxl-min - 1px);


//================= Grid system =================
@grid-columns 			: 24;
@grid-gutter-width 		: 0;


//================= Layout =================
@layout-border-radius: 0px;
@layout-body-background 	: #f0f2f5;
@layout-header-background 	: #414141;
@layout-header-color        : #fff;
@layout-header-height 		: 50px;
@layout-header-padding 		: 0px;
@layout-footer-background 	: @layout-body-background;
@layout-footer-padding 		: 0px;
@layout-content-padding 	: 10px 40px;
@layout-sider-background 	: #3B3B3B;
@layout-sider-color 	    : #fff;
@layout-trigger-height 		: 40px;
@layout-trigger-width       : 40px;
@layout-trigger-background 	: #484848;
@layout-trigger-color 		: #fff;
@layout-zero-trigger-color 	: #ddd;
@layout-zero-trigger-width 	: 26px;
@layout-zero-trigger-height : 36px;
@layout-zero-trigger-top : 5px;
@layout-zero-trigger-border-radius: 0px @border-radius-base @border-radius-base 0px;
@layout-zero-trigger-background : @layout-trigger-background;
@layout-zero-trigger-reverse-background : @layout-trigger-background;
@layout-zero-trigger-reverse-border-radius:  @border-radius-base 0px 0px @border-radius-base;



//=================  z-index list =================
@zindex-affix           : 10;
@zindex-back-top        : 10;
@zindex-modal-mask      : 1000;
@zindex-modal           : 1000;
@zindex-notification    : 1010;
@zindex-message         : 1010;
@zindex-popover         : 1030;
@zindex-picker          : 1050;
@zindex-dropdown        : 1050;
@zindex-tooltip         : 1060;


//=================  Animation duration =================
@animation-duration-slow 	: .3s; // Modal
@animation-duration-base 	: .2s;
@animation-duration-fast 	: .1s; // Tooltip


//=================  Form =================
@label-required-color        : @highlight-color;
@label-color                 : @heading-color;
@form-item-margin-bottom     : 24px;
@form-item-trailing-colon    : true;
@form-vertical-label-padding : 0 0 8px;
@form-vertical-label-margin  : 0;


//================= Input =================
@input-height-base           	: 32px;
@input-height-lg             	: 40px;
@input-height-sm             	: 24px;
@input-padding-horizontal    	: @control-padding-horizontal - 1px;
@input-padding-horizontal-base 	: @input-padding-horizontal;
@input-padding-horizontal-sm 	: @control-padding-horizontal-sm - 1px;
@input-padding-horizontal-lg 	: @input-padding-horizontal;
@input-padding-vertical-base 	: 4px;
@input-padding-vertical-sm   	: 1px;
@input-padding-vertical-lg   	: 6px;
@input-placeholder-color     	: hsv(0, 0, 75%);
@input-color                 	: @text-color;
@input-border-color          	: @border-color-base;
@input-bg                    	: #fff;
@input-addon-bg              	: @background-color-light;
@input-hover-border-color    	: @primary-color;
@input-disabled-bg           	: @disabled-bg;


//================= Tooltip =================
@tooltip-max-width 		: 250px;
@tooltip-color 			: #fff;
@tooltip-bg 			: rgba(0, 0, 0, .75);
@tooltip-arrow-width 	: 5px;
@tooltip-distance 		: @tooltip-arrow-width - 1px + 4px;
@tooltip-arrow-color 	: @tooltip-bg;


//================= Popover =================
@popover-bg 				: #fff;  // Popover body background color
@popover-color 				: @text-color;  // Popover text color
@popover-min-width 			: 177px;  // Popover maximum width
@popover-arrow-width 		: 5px;  // Popover arrow width
@popover-arrow-color 		: @popover-bg;  // Popover arrow color
@popover-arrow-outer-color 	: @popover-bg;  // Popover outer arrow width  Popover outer arrow color
@popover-distance 			: @popover-arrow-width + 4px;  // Popover distance with trigger


//================= Modal =================
@modal-mask-bg 	: rgba(0, 0, 0, 0.65);


//================= Progress =================
@progress-default-color 	: @processing-color;
@progress-remaining-color 	: @background-color-base;


//================= Menu =================
@menu-item-margin-bottom            : 8px;
@menu-item-group-title-padding      : 8px 16px;
@menu-submenu-title-margin-top      : 4px;
@menu-submenu-title-margin-bottom   : 4px;
@menu-submenu-title-padding         : 0 16px;
@menu-submenu-title-icon-font-size  : @font-size-base;
@menu-inline-toplevel-item-height 	: 40px;
@menu-item-height 					: 40px;
@menu-collapsed-width 				: 65px;
@menu-bg 							: @component-background;
@menu-item-color 					: @text-color;
@menu-highlight-color 				: @primary-color;
@menu-item-active-bg 				: @item-active-bg;
@menu-item-group-title-color 		: @text-color-secondary;

// dark theme
@menu-dark-color 				: @text-color-secondary-dark;
@menu-dark-bg 					: @layout-header-background;
@menu-dark-arrow-color 			: #fff;
@menu-dark-submenu-bg 			: #3C3C3B;
@menu-dark-highlight-color 		: #fff;
@menu-dark-item-selected-bg 	: @primary-color;


//================= Spin =================
@spin-dot-size-sm 	: 14px;
@spin-dot-size 		: 20px;
@spin-dot-size-lg 	: 32px;
@spin-text-color    : @primary-color;


//================= Table =================
@table-header-bg               : @background-color-light;
@table-header-sort-bg          : @background-color-base;
@table-row-hover-bg            : @primary-1;
@table-selected-row-bg         : #fafafa;
@table-expanded-row-bg         : #fbfbfb;
@table-padding-vertical        : 16px;
@table-padding-horizontal      : 16px;


//================= Tag =================
@tag-default-bg 	: @background-color-light;
@tag-default-color 	: @text-color;
@tag-font-size 		: @font-size-sm;


//================= TimePicker =================
@time-picker-panel-column-width 	: 56px;
@time-picker-panel-width 			: @time-picker-panel-column-width * 3;
@time-picker-selected-bg 			: @background-color-base;


//================= Carousel =================
@carousel-dot-width 		: 16px;
@carousel-dot-height 		: 3px;
@carousel-dot-active-width 	: 24px;


//================= Badge =================
@badge-height 		: 20px;
@badge-dot-size 	: 6px;
@badge-font-size 	: @font-size-sm;
@badge-font-weight 	: normal;
@badge-status-size 	: 6px;


//================= Rate =================
@rate-star-color 	: @yellow-6;
@rate-star-bg 		: @border-color-split;


//================= Card =================
@card-head-color 			: @heading-color;
@card-head-background 		: @component-background;
@card-head-padding 			: 16px;
@card-inner-head-padding 	: 12px;
@card-padding-base 			: 24px;
@card-padding-wider 		: 32px;
@card-actions-background 	: @background-color-light;
@card-shadow 				: 0 2px 8px rgba(0, 0, 0, .09);


//================= Tabs =================
@tabs-card-head-background 	: @background-color-light;
@tabs-card-height 			: 40px;
@tabs-card-active-color 	: @primary-color;
@tabs-title-font-size 		: @font-size-base;
@tabs-title-font-size-lg 	: @font-size-lg;
@tabs-title-font-size-sm 	: @font-size-base;
@tabs-ink-bar-bg-color 		: @primary-color;
@tab-bar-margin 			: 0 0 16px 0;
@tab-horizontal-margin 		: 0 32px 0 0;
@tab-vertical-margin 		: 0 0 16px 0;
@tab-horizontal-padding 	: 12px 16px;
@tab-vertical-padding  		: 8px 24px;
@tab-scrolling-size 		: 32px;
@tab-highlight-color 		: @primary-color;
@tab-hover-color 			: @primary-5;
@tab-active-color 			: @primary-7;


//================= BackTop =================
@back-top-color 	     : #fff;
@back-top-bg 		     : @text-color-secondary;
@back-top-hover-bg 	     : @text-color;
@back-top-border         : 1px solid transparent;
@back-top-hover-border   : 1px solid transparent;
@back-top-width          : 40px;
@back-top-height         : 40px;
@back-top-border-radius  : 20px;
@back-top-right          : 100px;
@back-top-bottom         : 50px;


//================= Avatar =================
@avatar-size-base 		: 32px;
@avatar-size-lg 		: 40px;
@avatar-size-sm 		: 24px;
@avatar-font-size-base 	: 18px;
@avatar-font-size-lg	: 24px;
@avatar-font-size-sm	: 14px;
@avatar-bg				: #ccc;
@avatar-color			: #fff;
@avatar-border-radius	: @border-radius-base;


//================= Switch =================
@switch-height: 22px;
@switch-sm-height: 16px;
@switch-sm-checked-margin-left: -(@switch-sm-height - 3px);
@switch-disabled-opacity: 0.4;
@switch-color: @primary-color;


//================= Pagination =================
@pagination-item-size 		: 32px;
@pagination-item-size-sm 	: 24px;
@pagination-font-family 	: Arial;
@pagination-font-weight-active: 500;


//================= Breadcrumb =================
@breadcrumb-base-color        : @text-color-secondary;
@breadcrumb-last-item-color   : @text-color;
@breadcrumb-font-size         : @font-size-base;
@breadcrumb-icon-font-size    : @font-size-sm;
@breadcrumb-link-color        : @text-color-secondary;
@breadcrumb-link-color-hover  : @primary-5;
@breadcrumb-separator-color   : @text-color-secondary;
@breadcrumb-separator-margin  : 0 @padding-xs;
@breadcrumb-line-height 			  :1.5;


//================= Slider =================
@slider-margin                      : 14px 6px 10px;
@slider-rail-height                 : 4px;
@slider-rail-border-radius          : 2px;
@slider-rail-background-color       : @background-color-base;
@slider-rail-background-color-hover : #e1e1e1;
@slider-track-background-color      : @primary-3;
@slider-track-background-color-hover: @primary-4;
@slider-handle-height               : 14px;
@slider-handle-color                : @primary-3;
@slider-handle-color-hover          : @primary-4;
@slider-handle-color-focus          : tint(@primary-color, 20%);
@slider-handle-color-focus-shadow   : tint(@primary-color, 50%);
@slider-handle-color-tooltip-open   : @primary-color;
@slider-handle-background           : @component-background;
@slider-dot-height                  : 8px;
@slider-dot-border-color            : @border-color-split;
@slider-dot-border-color-active     : tint(@primary-color, 50%);
@slider-dot-background              : @component-background;
@slider-disabled-color 				: @disabled-color;
@slider-disabled-background-color 	: @component-background;
@slider-vertical-mark-text-left     : @slider-rail-height;


//================= Timeline =================
@timeline-component-background : @component-background;
@timeline-head-height : 10px;
@timeline-head-width : 10px;
