.status-text-icon {
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
    color: #bbb;
}

.status-text-tooltip .jc-tooltip-inner {
    color: #666;
    background: #fff;
    min-height: 25px;
    padding: 3px 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.status-text-tooltip.jc-tooltip-placement-top .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-topLeft .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-topRight .jc-tooltip-arrow {
    border-top-color: #fff;
}

.status-text-tooltip.jc-tooltip-placement-right .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-rightTop .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-rightBottom .jc-tooltip-arrow {
    border-right-color: #fff;
}

.status-text-tooltip.jc-tooltip-placement-left .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-leftTop .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-leftBottom .jc-tooltip-arrow {
    border-left-color: #fff;
}

.status-text-tooltip.jc-tooltip-placement-bottom .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-bottomLeft .jc-tooltip-arrow,
.status-text-tooltip.jc-tooltip-placement-bottomRight .jc-tooltip-arrow {
    border-bottom-color: #fff;
}