{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "quotes": ["error", "single"], //单引号
        "jsx-quotes": ["error", "prefer-single"], // jsx 优先单引号
        "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "Set"] }], //new 首字母大写，List，Map,Set可以没有new操作符
        "react/no-multi-comp": 0, //每个文件只包含一个React组件，但是无状态, 或者 Pure 组件 允许一个文件包含多个组件
        "import/default": 0,
        "import/no-duplicates": 0,
        "import/named": 0,
        "import/namespace": 0,
        "import/no-unresolved": 0,
        "import/no-named-as-default": 2,
        "comma-dangle": 0, // not sure why airbnb turned this on. gross!
        "no-console": 0,
        "no-alert": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "linebreak-style": ["off", "windows"],
        "react/jsx-indent-props": ["error", 4], //验证组件传递的props属性缩进
        "indent": ["error", 4], // 强制使用一致的缩进风格
        "react/jsx-indent": ["error", 4],
        "import/extensions": ["off", "always", {
            "js": "never"
        }],
        "object-curly-newline": 0, // 不检测变量定义是否换行
        "react/forbid-prop-types": 0, // prop types类型不屏蔽
        "react/require-default-props": 0,
        "react/no-find-dom-node": 0,
        "react/no-did-mount-set-state": 0,
        "no-param-reassign": 0, // 可以对函数参数再赋值
        "import/newline-after-import": ["error", { "count": 1 }], //import 后需要有一空行
        // "react/prop-types": ["error"], //对props属性进行校验
        "react/prop-types": 0, //对props属性进行校验
        "no-trailing-spaces": ["error", { //该规则禁止使用行尾空白（空格、tab 和其它 Unicode 空白字符）。
            "skipBlankLines": true, //允许在空行使用空白符,默认false
            "ignoreComments": true // 允许在注释块中使用空白符，默认false
        }],
        "react/jsx-boolean-value": 0, //不检查
        "arrow-body-style": 0, // 箭头函数体
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/anchor-has-content": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "max-len": 0,
        "func-names": 0, // 不检测函数名称
        "no-plusplus": 0, // 不检查表达式中使用 ++ 和 --
        "jsx-a11y/label-has-for": 0,
        "no-underscore-dangle": 0,
        "no-mixed-operators": 0, // 混合运算符
        "react/sort-comp": 0, //方法排序
        "prefer-destructuring": 0, //使用解构
        "no-prototype-builtins": 0, // 允许使用对象方法
        "react/no-array-index-key": 0,
        "react/jsx-no-bind": 0,
        "no-multi-assign": 0
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"]
        }
    }
}