.topTools {
  background: #333;
  border-bottom: 1px solid #eee;
  height: 29px;
  line-height: 28px;
}

.iconSize {
  font-size: 22px;
  top: 3px;
  position: relative;
}

.topTools a {
  color: #a3a3a3;
}

.topTools a:hover {
  color: #e43636;
}

.topTools .topToolsWidth {
  width: 1200px;
  margin: 0 auto;
}

.topTools .topToolsWidth .downMenu {
  position: relative;
}

.topTools .topToolsWidth .downMenu > a {
  display: block;
  padding: 0 12px;
}

.topTools .topToolsWidth .downMenu > ul {
  display: none;
  width: 100%;
}

.topTools .topToolsWidth .downMenu > ul > li {
  padding: 0 12px;
}

.topTools .topToolsWidth .downMenu:hover > a {
  background: #f6f6f6;
  color: #e43636;
}

.topTools .topToolsWidth .downMenu:hover > a > .trans180 {
  transform: rotate(180deg);
}

.topTools .topToolsWidth .downMenu:hover > ul {
  display: inline-block;
  background: #f6f6f6;
  z-index: 999;
  position: absolute;
  -webkit-box-shadow: 0 2px 3px #ccc;
  -moz-box-shadow: 0 2px 3px #ccc;
  box-shadow: 0 2px 3px #ccc;
}

.topTools .topToolsWidth .chooseLocal {
  display: inline-block;
}

.topTools .topToolsWidth .shop ul {
  border-top: 1px solid #e5e5e5;
  background: #f7f7f7;
}

.topTools .topToolsWidth .shop strong {
  color: #999;
}

.topTools .topToolsWidth .shop:hover > a,
.topTools .topToolsWidth .shop > a:hover {
  color: #333;
}

.topTools .topToolsWidth .shop dl {
  padding: 0 14px;
}

.topTools .topToolsWidth .shop dl dt,
.topTools .topToolsWidth .shop dl dd {
  height: 24px;
  line-height: 24px
}

.topTools .topToolsWidth .shop dl dd > a {
  color: #333;
}

.topTools .topToolsWidth .shop dl dd > a:hover {
  color: #e43636;
}

.topTools .topToolsWidth .shop dl + dl {
  border-top: 1px solid #e5e5e5;
}

.topTools .topToolsWidth .chooseLocal > ul {
  width: 400px;
  padding: 5px;
  right: 0;
}

.topTools .topToolsWidth .chooseLocal > ul > li {
  display: inline-block;
  text-align: center;
  padding: 2px;
}

.topTools .topToolsWidth .chooseLocal > ul > li > a {
  display: block;
  padding: 0 5px;
  transition: all .3s;
  color: #666;
}

.topTools .topToolsWidth .chooseLocal > ul > li > a:hover,
.topTools .topToolsWidth .chooseLocal > ul > li .active {
  background: #e43636;
  color: #fff;
}

.topTools .topToolsWidth .company {
  display: inline-block;
}

.topTools .topToolsWidth .company:hover > a, .topTools .topToolsWidth .company > a {
  background: #222;
  color: #fff;
  width: 180px;
}

.topTools .topToolsWidth .company > a > i {
  float: right;
  margin-top: 10px;
}

.topTools .topToolsWidth .company > ul {
  width: 200px;
  right: 0;
  padding: 5px 0;
}

.topTools .topToolsWidth .company > ul > li {
  line-height: 24px;
  overflow: hidden;
  height: 27px;
}

.topTools .topToolsWidth .company > ul > li:hover {
  background: #eee;
}

.topTools .topToolsWidth .company > ul > li.active {
  background: #e0f3fb;
}

.topTools .topToolsWidth .company > ul > li > a {
  color: #333;
  overflow: hidden;
  display: block;
}

.topTools .topToolsWidth .company > a > p {
  width: 138px;
  display: inline-block;
  line-height: 26px;
  height: 18px;
  overflow: hidden;
}

.topTools .topToolsWidth .app {
  display: inline-block;
}

.topTools .topToolsWidth .app img {
  width: 85px;
  height: 85px;
}

.topTools .topToolsWidth .app > ul {
  width: 200px;
  right: 0;
  padding: 5px 0;
}

.topTools .topToolsWidth .app > ul > li {
  padding: 5px;
}

.topTools .topToolsWidth .app > ul > li > img {
  float: left;
  margin-right: 10px;
}

.topTools .topToolsWidth .app > ul > li + li {
  border-top: 1px dashed #ccc;
}

.topTools .topToolsWidth .toolsMenu {
  float: right;
}

.topTools .topToolsWidth .toolsMenu > ul > li {
  float: left;
  padding: 0 2px;
  position: relative;
}

.topTools .topToolsWidth .toolsMenu > ul > li > span {
  padding: 0 12px;
  color: #a3a3a3;
}

.topTools .topToolsWidth .toolsMenu > ul > li > span > a {
  margin: 0 2px;
}

.topTools .topToolsWidth .toolsMenu > ul > li > a {
  padding: 0 12px;
}

.topTools .topToolsWidth .toolsMenu > ul > li + li:before {
  content: '|';
  left: -1px;
  top: -1px;
  position: absolute;
  color: #515151;
  font-family: arial, \5b8b\4f53;
}

.topTools .topToolsWidth .toolsMenu ul:after {
  clear: both;
  display: block;
  content: ' ';
}

.topTools .topToolsWidth .toolsMenu:after {
  clear: both;
  display: block;
  content: ' ';
}

.topTools .textColorRed {
  color: #e43636 !important;
}

.topTools .textColor777 {
  color: #777 !important;
}

.topTools .textColorYellow {
  color: #f78002 !important;
}

.topTools .marginRight5 {
  margin-right: 5px;
}

.topTools .hotLine {
  font-size: 14px;
  color: #e43636;
}

.unChooseLocal > ul > li {
  display: inline-block;
  text-align: center;
  width: 25%;
}

.unChooseLocal > ul > li > a {
  display: block;
  transition: all .3s;
  padding: 5px;
  color: #666;
  margin: 5px;
}

.unChooseLocal > ul > li > a:hover,
.unChooseLocal > ul > li .active {
  background: #e43636;
  color: #fff;
}

.chooseLocal {
  display: inline-block;
}

.chooseLocal > a {
  display: block;
}

.chooseLocal > ul {
  width: 400px;
  padding: 5px;
  right: 0;
}

.chooseLocal > ul > li {
  display: inline-block;
  text-align: center;
  padding: 2px;
}

.chooseLocal > ul > li > a {
  display: block;
  transition: all .3s;
  padding: 0 5px;
  color: #666;
}

.chooseLocal > ul > li > a:hover,
.chooseLocal > ul > li .active {
  background: #e43636;
  color: #fff;
}

.icon-num {
  background: #ff4728;
  color: #fff;
  padding: 0 4px;
  position: absolute;
  border-radius: 14px;
  height: 14px;
  line-height: 1em;
  z-index: 999;
  left: 30px;
  top: 1px;
}