.buyer-sider-container .second-menu-haschild {
    font-size: 14px;
    color: #999
}

.buyer-sider-container .second-menu-nochild {
    font-size: 14px;
    color: #333;
}

.buyer-sider-container .third-menu {
    font-size: 14px;
    color: #333
}


/*鼠标滑动*/

.jc-menu-item-active,
.jc-menu-submenu-active,
.jc-menu-submenu-title:hover {
    background-color: #ecf0f2;
}

.buyer-sider-container .jc-menu-item:hover a span,
.buyer-sider-container .jc-menu-item-active,
.buyer-sider-container .jc-menu-submenu-active,
.buyer-sider-container .jc-menu-submenu-title:hover span {
    color: #e43636;
}

.buyer-sider-container .jc-menu-item>a:hover {
    color: #e43636;
}


/*分隔线*/

.buyer-sider-container .jc-menu-submenu {
    position: relative;
    border-bottom: 1px solid #ecf0f2;
}


/*背景色*/

.buyer-sider-container .jc-layout-sider {
    width: 200px;
    background: #fafbfc;
}

.buyer-sider-container .jc-menu {
    background: #fafbfc;
}


/*选中样式*/

.buyer-sider-container .jc-menu-inline .jc-menu-item-selected {
    background-color: #ecf0f2;
    border-right: 0px solid #108ee9;
}
.buyer-sider-container .jc-menu-vertical .jc-menu-item:after, .jc-menu-vertical-left .jc-menu-item:after, .jc-menu-vertical-right .jc-menu-item:after, .jc-menu-inline .jc-menu-item:after{
    background-color: #ecf0f2;
    border-right: 0px solid #108ee9;
}
.buyer-sider-container .jc-menu:not(.jc-menu-horizontal) .jc-menu-item-selected {
    background-color: #ecf0f2;
}

.buyer-sider-container .jc-menu-inline .jc-menu-item-selected .third-menu {
    color: #e43636
}

.buyer-sider-container .jc-menu-inline .jc-menu-item-selected .second-menu-nochild {
    color: #e43636
}

.buyer-sider-container .jc-menu-item-active,
.buyer-sider-container .jc-menu-item:hover,
.buyer-sider-container .jc-menu-submenu-active,
.buyer-sider-container .jc-menu-submenu-title:hover {
    color: #e43636;
}


/*icon样式*/

.buyer-sider-container .jcicon {
    font-size: 16px;
}