.gird-view-layout{
    overflow:hidden;
}
.gird-view-layout .gird-view{
    border-bottom:0;
}
.gird-view-layout .gird-view:last-child{
    border-bottom:1px solid #e5e5e5;
}
.gird-view{
    border:1px solid #e5e5e5;
    display: table;
    width: 100%;
}
.gird-view *{
    word-break:break-all;
    word-wrap:break-word;
}
.gird-view>div{
    border-right:1px solid #e5e5e5;
    padding:14px;
    text-align:center;
    display: table-cell;
    float: none;
    vertical-align:middle;
    font-size: 14px;
}
.gird-view>div:last-child{
    border-right:0;
}
.gird-view img,.gird-view table{
    max-height:100%;
    max-width:100%;
}
.gird-view .gird-col-auto{
    width:auto;
}
/* 奇数行变色 */
.rowOdd>div{
    background:#fff;
}
.rowOdd>div:nth-child(odd){
    background:#f7f7f7;
}
/* 偶数行变色 */
.rowEven>div{
    background:#fff;
}
.rowEven>div:nth-child(even){
    background:#f7f7f7;
}