.priceLeft{
    overflow: hidden;
}
.priceLeft .jc-radio-group{
    line-height: 30px;
    float: left;
}
.priceDesc{
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.priceDesc span{
    float: left;
    line-height: 30px;
}
.priceDesc input{
    float: left;
    width: 150px;
}