
// unify the setting of elements's margin and padding for browsers
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin: 0;
  padding: 0;
}

// Reset fonts for relevant elements
button,input,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs22{font-size:22px;}
.f-fs24{font-size:24px;}
.f-fs26{font-size:26px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}

.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}


/* buyer,shop,platform公用样式 */
.bgf7{background:#f7f7f7;}
.brd9{border:1px solid #d9d9d9;}

.text-333{color:#333;}
.text-666{color:#666;}
.text-999{color:#999;}
.text-bbb{color:#999;}
.text-red{color:#e4393c;}

.text-buyer{color:#e43636;}
.text-shop,
.text-platform{color:#009afe;}
.bg-buyer{background:#e43636;}
.bg-shop,
.bg-platform{background:#009afe;}
.br-buyer{border-color:#e43636;}
.br-shop,
.br-platform{border-color:#009afe;}

.text-success{color:#78af30;}
.text-warning{color:#ec9f00;}
.text-error{color:#d76461;}
.text-disabled{color:#999;}
.bg-success{background:#78af30;}
.bg-warning{background:#ec9f00;}
.bg-error{background:#d76461;}
.bg-disabled{background:#999;}

.tips-success{border:1px solid #78af30;background:#f1f7ea;color:#78af30;padding:15px;}
.tips-warning{border:1px solid #ec9f00;background:#fffdf1;color:#ec9f00;padding:15px;}
.tips-error{border:1px solid #d76461;background:#fbefef;color:#d76461;padding:15px;}

.ui-buyer a.text-link,
.ui-shop a.text-link,
.ui-platform a.text-link{color:#009afe;}
.ui-buyer a.text-link:hover,
.ui-shop a.text-link:hover,
.ui-platform a.text-link:hover,
.ui-buyer a.text-link:active,
.ui-shop a.text-link:active,
.ui-platform a.text-link:active{color:#228ccc;}

.ui-buyer .jc-btn:focus,
.ui-buyer .jc-btn:hover {
  color: #fe3333;
  border-color: #fe3333
}
.ui-buyer .jc-btn.jc-btn-lg,
.ui-shop .jc-btn.jc-btn-lg,
.ui-platform .jc-btn.jc-btn-lg{
  font-size: 12px;
}

.ui-buyer .jc-btn-primary{background-color:#e43636;border-color:#e43636;color:#fff;}
.ui-buyer .jc-btn-primary:focus,
.ui-buyer .jc-btn-primary:hover {
  color:#fff;
  background-color: #fe3333;
  border-color: #fe3333
}

.ui-shop .jc-btn:focus,
.ui-shop .jc-btn:hover,
.ui-platform .jc-btn:focus,
.ui-platform .jc-btn:hover{
  color: #33aefe;
  border-color: #33aefe
}

.ui-shop .jc-btn-primary,
.ui-platform .jc-btn-primary{background-color:#009afe;border-color:#009afe;color:#fff;}
.ui-shop .jc-btn-primary:focus,
.ui-shop .jc-btn-primary:hover,
.ui-platform .jc-btn-primary:focus,
.ui-platform .jc-btn-primary:hover {
  color:#fff;
  background-color: #33aefe;
  border-color: #33aefe
}

.ui-buyer .jc-btn-background-ghost.jc-btn-primary {
  color: #e43636;
  border-color: #e43636;
  background-color: transparent;
}

.ui-buyer .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-buyer .jc-btn-background-ghost.jc-btn-primary:hover {
  color: #fe3333;
  border-color: #fe3333;
  background-color: transparent;
}

.ui-shop .jc-btn-background-ghost.jc-btn-primary,
.ui-platform .jc-btn-background-ghost.jc-btn-primary{
  color: #009afe;
  border-color: #009afe;
  background-color: transparent;
}

.ui-shop .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-shop .jc-btn-background-ghost.jc-btn-primary:hover,
.ui-platform .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-platform .jc-btn-background-ghost.jc-btn-primary:hover{
  color: #33aefe;
  border-color: #33aefe;
  background-color: transparent;
}


.ui-shop .jc-pagination-item-active,
.ui-platform .jc-pagination-item-active{
  background-color: #009afe;
  border-color: #009afe;
}

.ui-buyer .jc-pagination-item-active{
  background-color: #e43636;
  border-color: #e43636;
}

.ui-shop .jc-pagination-item:hover,
.ui-platform .jc-pagination-item:hover{
  border-color: #009afe;
}
.ui-shop .jc-pagination-item:hover a,
.ui-platform .jc-pagination-item:hover a {
  color: #009afe;
}

.ui-buyer .jc-pagination-item:hover{
  border-color: #e43636;
}

.ui-buyer .jc-pagination-item:hover a {
  color: #e43636;
}

.ui-buyer .jc-pagination-prev:hover,
.ui-buyer .jc-pagination-next:hover{border-color:#e43636;}

.ui-shop .jc-pagination-prev:hover,
.ui-shop .jc-pagination-next:hover,
.ui-platform .jc-pagination-prev:hover,
.ui-platform .jc-pagination-next:hover{border-color:#009afe;}

.ui-buyer .jc-pagination-item-active a,
.ui-buyer .jc-pagination-item-active:hover a,
.ui-shop .jc-pagination-item-active a,
.ui-shop .jc-pagination-item-active:hover a,
.ui-platform .jc-pagination-item-active a,
.ui-platform .jc-pagination-item-active:hover a{color:#fff;}

.ui-buyer, .ui-shop, .ui-platform{
  .jc-modal-header{
    background:#f7f7f7;
  }
  .jc-modal-footer{
    background:#f7f7f7;
  }
  .jc-table{
    color:#333;
  }
  .jc-table-tbody>tr>td{
    padding: 12px 8px;
  }
  .jc-table-thead>tr>th {
    padding: 11px 8px;
    border-bottom:1px solid #e5e5e5;
    color:#666;
  }
  .jc-form-item-label label{
    color:#999;
  }
  .jc-input{
    color:#333;
  }
  .jc-input-lg,
  .jc-select-lg{
    font-size: 12px;
  }
  .jc-select{
    color:#333;
    font-size: 12px;
  }
  .jc-btn-primary.disabled,
  .jc-btn-primary.disabled.active,
  .jc-btn-primary.disabled:active,
  .jc-btn-primary.disabled:focus,
  .jc-btn-primary.disabled:hover,
  .jc-btn-primary[disabled],
  .jc-btn-primary[disabled].active,
  .jc-btn-primary[disabled]:active,
  .jc-btn-primary[disabled]:focus,
  .jc-btn-primary[disabled]:hover {
    color: rgba(0,0,0,.25) !important;
    background-color: #f7f7f7 !important;
    border-color: #d9d9d9 !important;
  }
}

.ui-buyer{
  .jc-tabs-nav .jc-tabs-tab:hover {
    color: #e43636;
  }
  .jc-tabs-nav .jc-tabs-tab:active {
    color: #e43636;
  }
  .jc-tabs-nav .jc-tabs-tab-active {
    color: #e43636;
  }
  .jc-tabs-ink-bar{
    background:#e43636;
  }
}

.ui-shop, .ui-platform{
  .jc-tabs-nav .jc-tabs-tab:hover {
    color: #009afe;
  }
  .jc-tabs-nav .jc-tabs-tab:active {
    color: #009afe;
  }
  .jc-tabs-nav .jc-tabs-tab-active {
    color: #009afe;
  }
  .jc-tabs-ink-bar{
    background:#009afe;
  }
}




/* jc-common */

.ui-container{
  width:100%;
  position:relative;
  background:#f4f4f4;
  padding:0 10px;
  min-height:700px;
}
.ui-breadcrumb{
  line-height:44px;
}
.ui-ct{
  border:1px solid #ececec;
}
.ui-hd{
  height:50px;
  line-height:50px;
  font-size:16px;
  color:#666;
  background:#fafafa;
  padding-left:15px;
}
.ui-bd{
  padding:16px;
  background:#fff;
}

.ui-search{background:#f7f7f7;padding:16px 0 4px 0;}
.ui-search .jc-form-inline .jc-form-item{margin-bottom:10px;}
.ui-search .r-action{position:absolute;right:16px;top:0; bottom:12px;width:96px;border-left:1px dotted #ccc;}
.ui-search .r-action button{position:absolute;left:16px;top:50%;margin-top:-16px;width:78px;}
.ui-search .jc-form {padding-right:130px;}
.ui-search .jc-form-item-label{min-width:80px;margin-left:10px;}

.tbl-top-action{
  height:50px;
  padding:11px 15px;
  border:1px solid #e5e5e5;
  border-bottom:0;
  background:#f7f7f7;
}
.tbl-top-action .jc-btn-ghost{background:#fff;}
.ui-tbl{border:1px solid #e5e5e5;border-bottom: none;}
.ui-tbl .jc-pagination-options{margin-right:16px;}
.brand-br{display:block;width:104px;height:59px;border:1px solid #e5e5e5;}

.jc-spin-container:after{
  clear:both;
  content:' ';
  display: block;
}

@font-face {font-family: "jcicon";
  src: url('./iconfont/iconfont.eot'); /* IE9*/
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('./iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.jcicon-wx:before { content: "\a60a"; }

.jcicon-qq:before { content: "\a61a"; }

.jcicon-new-edit:before { content: "\a602"; }

.jcicon-new-delete:before { content: "\a603"; }

.jcicon-new-ad:before { content: "\a604"; }

.jcicon-new-show:before { content: "\a605"; }

.jcicon-new-hide:before { content: "\a606"; }

.jcicon-xxwd:before { content: "\a62c"; }

.jcicon-xxyd:before { content: "\a62d"; }

.jcicon-xiayi:before { content: "\a62e"; }

.jcicon-shangyi:before { content: "\a62f"; }

.jcicon-zhidi:before { content: "\a630"; }

.jcicon-zhiding:before { content: "\a631"; }

.jcicon-cgs:before { content: "\a673"; }

.jcicon-ggcs:before { content: "\a674"; }

.jcicon-fl:before { content: "\a675"; }

.jcicon-pp:before { content: "\a676"; }

.jcicon-xx:before { content: "\a677"; }

.jcicon-gys:before { content: "\a678"; }

.jcicon-gysrz4:before { content: "\a67c"; }

.jcicon-gysrz3:before { content: "\a67d"; }

.jcicon-gysrz1:before { content: "\a67e"; }

.jcicon-gysrz2:before { content: "\a67f"; }

.jcicon-spk:before { content: "\a684"; }

.jcicon-spfb:before { content: "\a685"; }

.jcicon-xxsp:before { content: "\a686"; }

.jcicon-ghsqsh:before { content: "\a687"; }

.jcicon-dd:before { content: "\a688"; }

.jcicon-cgd:before { content: "\a689"; }

.jcicon-bjd:before { content: "\a68a"; }

.jcicon-tzgyssx:before { content: "\a68b"; }

.jcicon-pw-show:before { content: "\a69d"; }

.jcicon-pw-hide:before { content: "\a69e"; }

.jcicon-new-icon1:before { content: "\a6ab"; }

.jcicon-new-icon2:before { content: "\a6ac"; }

.jcicon-new-icon3:before { content: "\a6ad"; }

.jcicon-new-icon4:before { content: "\a6ae"; }

.jcicon-new-icon5:before { content: "\a6af"; }

.jcicon-new-icon6:before { content: "\a6b0"; }

.jcicon-new-icon7:before { content: "\a6b1"; }

.jcicon-new-icon8:before { content: "\a6b2"; }

.jcicon-new-icon9:before { content: "\a6b3"; }

.jcicon-new-icon31:before { content: "\a6b4"; }

.jcicon-new-icon10:before { content: "\a6b5"; }

.jcicon-new-icon11:before { content: "\a6b6"; }

.jcicon-new-icon12:before { content: "\a6b7"; }

.jcicon-new-icon13:before { content: "\a6b8"; }

.jcicon-new-icon14:before { content: "\a6b9"; }

.jcicon-new-icon15:before { content: "\a6ba"; }

.jcicon-new-icon16:before { content: "\a6bb"; }

.jcicon-new-tel:before { content: "\a6c1"; }

.jcicon-new-feedback:before { content: "\a6c2"; }

.jcicon-new-service:before { content: "\a6c3"; }

.jcicon-new-icon30:before { content: "\a6c7"; }

.jcicon-new-icon17:before { content: "\a6c8"; }

.jcicon-new-icon18:before { content: "\a6c9"; }

.jcicon-new-icon19:before { content: "\a6ca"; }

.jcicon-new-icon20:before { content: "\a6cb"; }

.jcicon-new-icon21:before { content: "\a6cd"; }

.jcicon-new-icon22:before { content: "\a6ce"; }

.jcicon-new-icon23:before { content: "\a6d1"; }

.jcicon-new-icon24:before { content: "\a6d2"; }

.jcicon-new-icon25:before { content: "\a6d3"; }

.jcicon-new-icon26:before { content: "\a6d4"; }

.jcicon-new-icon27:before { content: "\a6d5"; }

.jcicon-new-icon28:before { content: "\a6d6"; }

.jcicon-new-rebate:before { content: "\a6d7"; }

.jcicon-new-shop:before { content: "\a6d8"; }

.jcicon-new-transfer:before { content: "\a6d9"; }

.jcicon-new-buyer:before { content: "\a6da"; }

.jcicon-new-cart:before { content: "\a6db"; }

.jcicon-new-gps:before { content: "\a6dc"; }

.jcicon-new-phone:before { content: "\a6dd"; }

.jcicon-new-home:before { content: "\a6de"; }

.jcicon-new-phone2:before { content: "\a6df"; }

.jcicon-new-icon29:before { content: "\a6e7"; }

.jcicon-new-icon32:before { content: "\a6ec"; }

.jcicon-new-icon33:before { content: "\a6ed"; }

.jcicon-new-icon34:before { content: "\a6ee"; }

.jcicon-new-icon35:before { content: "\a6ef"; }

.jcicon-new-icon36:before { content: "\a6f0"; }

.jcicon-new-icon37:before { content: "\a6f1"; }

.jcicon-new-icon38:before { content: "\a6f2"; }

.jcicon-new-icon39:before { content: "\a6f3"; }

.jcicon-new-icon40:before { content: "\a6f4"; }

.jcicon-new-icon41:before { content: "\a6f6"; }

.jcicon-new-icon42:before { content: "\a6f9"; }

.jcicon-new-icon43:before { content: "\a6fa"; }

.jcicon-new-icon47:before { content: "\a6fd"; }

.jcicon-new-icon48:before { content: "\a6fe"; }

.jcicon-new-icon49:before { content: "\a6ff"; }

.jcicon-new-icon50:before { content: "\a779"; }

.jcicon-new-icon51:before { content: "\a77a"; }

.jcicon-new-icon52:before { content: "\a77b"; }

.jcicon-new-icon53:before { content: "\a77c"; }

.jcicon-new-icon54:before { content: "\a77d"; }

.jcicon-new-icon55:before { content: "\a77e"; }

.jcicon-new-icon56:before { content: "\a77f"; }

.jcicon-new-icon57:before { content: "\a782"; }

.jcicon-new-icon58:before { content: "\a783"; }

.jcicon-new-icon59:before { content: "\a784"; }

.jcicon-new-icon60:before { content: "\a785"; }

.jcicon-new-icon61:before { content: "\a786"; }

.jcicon-new-icon62:before { content: "\a787"; }

.jcicon-new-icon63:before { content: "\a788"; }

.jcicon-new-icon64:before { content: "\a789"; }

.jcicon-new-icon65:before { content: "\a78a"; }

.jcicon-new-icon66:before { content: "\a78b"; }

.jcicon-new-icon67:before { content: "\a78c"; }

.jcicon-new-icon68:before { content: "\a78d"; }

.jcicon-new-icon69:before { content: "\a78e"; }

.jcicon-new-icon71:before { content: "\a78f"; }

.jcicon-new-icon72:before { content: "\a790"; }

.jcicon-new-icon73:before { content: "\a791"; }

.jcicon-new-icon74:before { content: "\a792"; }

.jcicon-new-icon75:before { content: "\a793"; }

.jcicon-new-icon76:before { content: "\a795"; }

.jcicon-new-icon77:before { content: "\a796"; }

.jcicon-new-icon78:before { content: "\a797"; }

.jcicon-new-icon79:before { content: "\a798"; }

.jcicon-new-icon80:before { content: "\a799"; }

.jcicon-new-icon81:before { content: "\a79a"; }

.jcicon-new-icon82:before { content: "\a7e5"; }

.jcicon-new-icon83:before { content: "\a7ea"; }

.jcicon-new-icon84:before { content: "\a7eb"; }

.jcicon-new-icon85:before { content: "\a7ec"; }

.jcicon-new-icon86:before { content: "\a7ed"; }

.jcicon-new-icon87:before { content: "\a7db"; }

.jcicon-new-icon87:before { content: "\a7db"; }
