.ui-header {
    height: 66px;
    border-bottom: 2px solid #e9e9e9;
    min-width: 1000px
}

.ui-header h2 {
    float: left;
    margin-left: 20px;
    line-height: 64px;
    font-size: 16px;
    color: #33aefe
}

.ui-header .userInfo {
    float: right;
    border-left: 1px solid #ececec;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 66px;
}

.ui-header .ui-badge {
    width: 50px;
    position: relative;
    margin-bottom: 7px;
}

.ui-header .jc-badge-count {
    height: 16px;
    padding: 0 3px;
    top: -11px;
}

.ui-header .jc-badge-count .jc-scroll-number-only {
    margin-top: -2px;
    height: 18px;
    line-height: 18px;
}

.ui-header .mBadge .jc-badge-count {
    line-height: 14px;
}

.ui-header .userInfo .jc-badge-count {
    line-height: 16px;
}

.moremenu .jc-dropdown-link {
    float: right;
    font-size: 14px;
    height: 20px;
    padding-right: 5px;
}


/*选中样式*/

.ui-header .jc-menu-horizontal .jc-menu-item-selected {
    border-bottom: 0px solid #108ee9;
}

.ui-header .jc-menu-item {
    padding: 0px 15px;
}

.ui-header .jc-menu-item a {
    color: #999 !important;
    font-size: 14px;
}

.ui-header .jc-menu-item-selected a {
    color: #333 !important;
    font-size: 14px;
}

.jc-dropdown-menu-item-selected {
    color: #108ee9;
    background-color: #ecf6fd;
}

.moremenu .jc-badge {
    float: right;
    margin-top: 25px;
    padding-right: 20px;
}

.moremenu .jc-badge-count {
    margin-left: 38px;
    margin-top: -4px;
    /*border-radius: 5px;*/
}


/*更多菜单下拉样式*/


/*下拉样式*/

.jc-dropdown-menu.dropdownmenu1 {
    border-radius: 0px;
    right: 4px;
    text-align: center !important;
    width: 120px;
    top: 16px;
    background-color: #f7f7f7;
}

.dropdownmenu1 .jc-dropdown-menu-item:first-child {
    border-radius: 0;
}

.dropdownmenu1 .jc-dropdown-menu-item:last-child {
    border-radius: 0
}


/*箭头*/

.moremenu .jcicon-down:before {
    padding-left: 20px
}


/*下拉选项样式*/

.dropdownmenu1 .jc-dropdown-menu-item .jc-dropdown-menu-submenu-title {
    background-color: #f7f7f7;
}

.dropdownmenu1 .jc-dropdown-menu-item .jc-dropdown-menu-submenu-title a {
    color: #666;
}

.dropdownmenu1 .jc-dropdown-menu-item:hover,
.jc-dropdown-menu-submenu-title:hover {
    background-color: #fff
}

.dropdownmenu1 .jc-dropdown-menu-item a:hover {
    color: #009afe
}

.dropdownmenu1 .jc-dropdown-menu-submenu-title a:hover {
    color: #009afe
}


/*默认选中*/

.dropdownmenu1 .jc-dropdown-menu-item-selected {
    background-color: #fff;
}

.dropdownmenu1 .jc-dropdown-menu-item-selected a {
    color: #009afe;
}

.dropdownmenu1 .jc-badge-count {
    background: #009afe;
    border-radius: 5px;
}


/*修改密码/退出 样式*/

.jc-dropdown-menu.dropdownmenuUser {
    border-radius: 0px;
    right: 0px;
    text-align: center !important;
    top: 20px;
    background-color: #f7f7f7;
}

.dropdownmenuUser .jc-dropdown-menu-item:first-child {
    border-radius: 0;
}

.dropdownmenuUser .jc-dropdown-menu-item:last-child {
    border-radius: 0
}


/*下拉选项样式*/

.dropdownmenuUser .jc-dropdown-menu-item .jc-dropdown-menu-submenu-title {
    background-color: #f7f7f7;
}

.dropdownmenuUser .jc-dropdown-menu-item .jc-dropdown-menu-submenu-title a {
    color: #666;
}

.dropdownmenuUser .jc-dropdown-menu-item:hover,
.jc-dropdown-menu-submenu-title:hover {
    background-color: #fff
}

.dropdownmenuUser .jc-dropdown-menu-item a:hover {
    color: #009afe
}

.dropdownmenuUser .jc-dropdown-menu-submenu-title a:hover {
    color: #009afe
}

.dropdownmenu1 .jc-badge-count {
    background: #009afe;
    border-radius: 5px;
}

.userInfo .jc-dropdown-link,
.jc-dropdown-trigger {
    color: #666;
}

.ui-header .jc-menu-horizontal>.jc-menu-item-active,
.ui-header .jc-menu-horizontal>.jc-menu-item-selected,
.ui-header .jc-menu-horizontal>.jc-menu-item:hover,
.ui-header .jc-menu-horizontal>.jc-menu-submenu-active,
.ui-header .jc-menu-horizontal>.jc-menu-submenu-selected,
.ui-header .jc-menu-horizontal>.jc-menu-submenu:hover {
    border-bottom: 0px solid transparent;
    color: #108ee9;
}

.jc-menu-horizontal>.jc-menu-item>a:hover,
.jc-menu-horizontal>.jc-menu-submenu>a:hover {
    color: #333 !important;
}