.shop-framework-header {
    background: #ffffff;
    height: 80px;
    border-bottom: 1px solid #eeeeee;
}

.shop-framework-container {
    width: 1200px;
    margin: 0px auto;
}

.shop-framework-container>ul {
    float: left;
}

.shop-framework-container>ul>li {
    float: left;
}

.shop-framework-container>ul>li>img {
    height: 50px;
}

.shop-framework-logo {
    display: inline-block;
    width: 199px;
    height: 50px;
    border-right: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-top: 6px;
}

.shop-framework-logo img {
    width: 180px;
    height: 60px;
    margin-top: -6px;
}

.shop-framework-title {
    color: #009afe;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.audit-framework-kefu {
    float: right;
}


/*选中样式*/

.shop-framework-header .jc-menu-horizontal .jc-menu-item-selected {
    border-bottom: 0px solid #108ee9;
}

.shop-framework-header .jc-menu-item a {
    color: #999 !important;
    font-size: 16px;
}

.shop-framework-header .jc-menu-item-selected a {
    color: #333 !important;
    font-size: 16px;
}