.shop-sider-container .second-menu-haschild {
    font-size: 14px;
    color: #999
}

.shop-sider-container .second-menu-nochild {
    font-size: 14px;
    color: #333;
}

.shop-sider-container .third-menu {
    font-size: 14px;
    color: #333
}


/*鼠标滑动*/

.shop-sider-container .jc-menu-item:hover,
.shop-sider-container .jc-menu-item-active,
.shop-sider-container .jc-menu-submenu-active,
.shop-sider-container .jc-menu-submenu-title:hover {
    background-color: #ecf0f2;
}

.shop-sider-container .jc-menu-item:hover span,
.shop-sider-container .jc-menu-item-active,
.shop-sider-container .jc-menu-submenu-active,
.shop-sider-container .jc-menu-submenu-title:hover span {
    color: #009afe;
}


/*分隔线*/

.shop-sider-container .jc-menu-submenu {
    position: relative;
    border-bottom: 1px solid #ecf0f2;
}


/*背景色*/

.shop-sider-container .jc-layout-sider {
    width: 200px;
    background: #fafbfc;
}


/*选中样式*/

.shop-sider-container .jc-menu-inline .jc-menu-item-selected {
    background-color: #ecf0f2;
    border-right: 0px solid #108ee9;
}

.shop-sider-container .jc-menu:not(.jc-menu-horizontal) .jc-menu-item-selected {
    background-color: #ecf0f2;
}

.shop-sider-container .jc-menu-inline .jc-menu-item-selected .third-menu {
    color: #009afe
}

.shop-sider-container .jc-menu-inline .jc-menu-item-selected .second-menu-nochild {
    color: #009afe
}

.shop-sider-container .jc-menu {
    background: #fafbfc;
}

.jc-menu-item:hover span {
    color: #009afe;
}


/*icon样式*/

.shop-sider-container .jcicon {
    font-size: 16px;
}