.wrap {
    position: absolute;
    right: 100px;
    bottom: 100px;
    height: 100px;
}

.main {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #f7f7f7;
    border: 1px solid #aaaaaa;
    overflow: hidden;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
}

.main:hover {
    height: 100px;
}

.img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #dcdcdc;
    cursor: pointer;
}

.main:hover .img {
    background-color: #e43636;
}

.custext {
    font-size: 12px;
    letter-spacing: 1px;
    width: 12px;
    padding-left: 8px;
    color: #999999;
    line-height: 130%;
    margin-top: 5px;
    cursor: pointer;
}